<% layout('./layouts/boilerplate') %>

    <h1>Transactions</h1>

    <table id="transactions" class="table table-striped" >
        <thead>
            <tr>
                <th>trans-num</th>
                <th>e-num</th>
                <th>last-trans-num</th>
                <th>last-e-num</th>
                <th>Date</th>
                <th>Bought($)</th>
                <th>Returned($)</th>
                <th>Total($)</th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach((transaction)=> { %>
                <tr>
                    <td>
                        <%= transaction.trans_num %>
                    </td>
                    <td>
                        <%= transaction.employee_num %>
                    </td>
                    <td>
                        <%= transaction.last_trans_num %>
                    </td>
                    <td>
                        <%= transaction.last_employee_num %>
                    </td>
                    <td>
                        <%= transaction.date %>
                    </td>
                    <td>
                        <%= transaction.amount_bought %>
                    </td>
                    <td>
                        <%= transaction.amount_returned %>
                    </td>
                    <td>
                        <%= transaction.total %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        (function () {
            new DataTable('#transactions');
        })();
    </script>